[Unit]
Description=Set NVIDIA GPU Power Limit
After=network.target nvidia-persistenced.service
ConditionPathExists=/usr/bin/nvidia-smi

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-nvidia-gpu-power-limit.sh
User=root
Group=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target